{% extends "base.html" %}
  {% block body %}
  <li>Create an accout using sign up and then sign in to your account.</li>
  <li>Use the Skill Enhancement tab to find courses and improve your skills.</li>
  <li>Add the skills that you have.</li>
  <li>Find all the jobs in job market.</li>
  <li>By clicking the filter icon on top right corner you can filter the jobs according to the skills you have.</li>
  <li>Click on Apply button to apply for the job. You will be navigated to a form page.</li>
  <li>Fill the text areas.</li>
  <li>Click submit form, so your application is successfully sent to the company.</li>
  <li>You can update your profile anytime you want by clicking the profile icon on top left in navbar.</li>
  <li>Use the Skill Pal assistant by clicking the message pop up in botton right corner of the page.</li>
{% endblock %}
Footer
