{% extends "base.html" %}

{% block body %}
<br>
<h4>Please go through the courses below to enhance your skills</h4>
<br>
<div class="card text-center">
     <div class="card-body">
       <h5 class="card-title">Java Courses</h5>
       <a href="https://www.udemy.com/topic/java/free/" target="_blank" class="btn btn-outline-success" rel="noopener noreferrer">Click</a>
     </div>
</div>
<br>
<div class="card text-center">
     <div class="card-body">
       <h5 class="card-title">Python Courses</h5>
       <a href="https://www.udemy.com/topic/python/free/" target="_blank" class="btn btn-outline-success" rel="noopener noreferrer">Click</a>
     </div>
</div>
<br>
<div class="card text-center">
     <div class="card-body">
       <h5 class="card-title">C++ Courses</h5>
       <a href="https://www.udemy.com/course/free-learn-c-tutorial-beginners/?aff_code=Ewh3Y1xXRX4HQhNzMkBPbG1RGXFfVFh8CF4bcE5TQnYBRhF0Wj5XMRM%3D&pmtag=DABBLE15HOLIDAYS&utm_source=adwords&utm_medium=udemyads&utm_campaign=DSA_Catchall_la.EN_cc.INDIA&utm_content=deal4584&utm_term=_._ag_82569850245_._ad_533220805574_._kw__._de_c_._dm__._pl__._ti_dsa-406594358574_._li_1007810_._pd__._&matchtype=&gclid=EAIaIQobChMI1_Lf5r2J-wIV4J1LBR3ZVA1jEAAYASAAEgKr-fD_BwE" target="_blank" class="btn btn-outline-success" rel="noopener noreferrer">Click</a>
     </div>
</div>
<br>
<div class="card text-center">
     <div class="card-body">
       <h5 class="card-title">Javascript Courses</h5>
       <a href="https://www.freecodecamp.org/news/learn-javascript-free-js-courses-for-beginners/" target="_blank" class="btn btn-outline-success" rel="noopener noreferrer">Click</a>
     </div>
</div>



{% endblock %}
Footer
